*.swp
*.*~
project.lock.json
.DS_Store
*.pyc
nupkg/

.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

.idea/
*.sln.iml

.vs/
.vscode/
*.suo
*.user
*.userosscache
*.sln.docstates
*.vcxproj.filters

[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/

project.lock.json
project.fragment.lock.json
artifacts/

*_i.c
*_p.c
*_i.h
*.ilk
*.meta
*.obj
*.iobj
*.pch
*.pdb
*.ipdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*.log
*.vspscc
*.vssscc
.builds
*.pidb
*.svclog
*.scc

dotnet.exe
apphost.exe
*.db
*.db-*
*.sqlite
*.sqlite3

Generated\ Files/

[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*

.localhistory/

healthchecksdb

MigrationBackup/

dotnet.exe
apphost.exe
*.db
*.db-*
*.sqlite
*.sqlite3

Generated\ Files/

[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*

.localhistory/

healthchecksdb

MigrationBackup/

**/.dockerignore
docker-compose.override.yml

rabbitmq_data/

.idea/
*.sln.iml

.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

Thumbs.db
ehthumbs.db
Desktop.ini

.DS_Store
.AppleDouble
.LSOverride
.Spotlight-V100
.Trashes

*~

*.db
*.db-*
*.sqlite
*.sqlite3